.home-page{

    .text-zone{

        letter-spacing: 4px;
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;

    }

    h1{
        color: white;
        font-size: 53px;
        font-family: 'Coolvetica';
        font-weight: 400;
    }

    .flat-button{
        color: white;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: 'ZCOOL QingKe HuangYou';
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid white;
        margin-top: 25px;
        float: left;
        animation: fadeInAnimation 1s 1.8s backwards ;
        white-space: nowrap;

        &:hover{
            background: white;
            color:#022c43;
        }
    }




}