.contact-form{
    width: 100%;
    margin-top: 370px;

    ul{
        padding:0;
        margin:0;

        li{
            padding:0;
            margin:0;
            list-style: none;
            margin-bottom: 10px;
            overflow: hidden;
            display: block;
            opacity: 0;
            animation: fadeInUp 2s 2s;
            animation-fill-mode: forwards;
            position: relative;
            clear: both;
        }

        li.half{
            width: 49%;
            margin-left: 2%;
            float: left;
            clear: none;

            &:first-child{
                margin-left: 0;
            }
        }
    }


    input[type='text'],
    input[type='email']{
        width: 100%;
        border: 0;
        height: 50px;
        font-size: 16px;
        padding: 0 20px;
        box-sizing: border-box;
    }

    textarea{
        width: 100%;
        border: 0;
        height: 50px;
        font-size: 16px;
        min-height: 160px;
        padding: 20px;
        box-sizing: border-box;
    }

    .flat-button{
        color:white;
        background:#022c43;
        border:1px solid;
        font: 11px;
        letter-spacing: 3px;
        text-decoration: none;
        padding: 8px 10px;
        float: right;
        border-radius: 4px; 
        
    }

}